
.adventure__polaroid {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 5) 1.95px 1.95px 2.6px;
  transform: rotate(-1deg);
  margin: 1rem;
  position: relative;
  z-index: 2;
}

.adventure__image {
  width: 100%;
  height: auto;
  padding: 5px;
}

.adventure__text {
  height: 5rem;
  font-size: 1.5rem;
  text-align: center;
}

.adventure__polaroid_container {
  display: flex;
  position: relative;
}

.adventure__polaroid_container:nth-child(even) .adventure__polaroid {
  transform: rotate(1deg);
}

.adventure__polaroid_container:nth-child(odd) {
  justify-content: start;
  margin-top: -85px;
}

.adventure__polaroid_container:nth-child(even) {
  justify-content: end;
  margin-top: -85px;
}

.adventure__polaroid_container:first-of-type {
  margin-top: unset;
}

@media (max-width: 768px) {
  .adventure__polaroid {
    width: unset;
  }

  .adventure__polaroid_container:nth-child(odd) {
    margin-top: 45px;
  }
  
  .adventure__polaroid_container:nth-child(even) {
    margin-top: 45px;
  }
}
