.projects__filter__container {
  display: flex;
}

#projects__filtered__container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.projects__project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.projects--filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 0.3rem solid black;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}

.project__tag--filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.project__tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem;
  flex-wrap: wrap;
  max-width: 40rem;
}

.project__tag {
  margin-right: 0.3rem;
  margin-top: 0.4rem;
  background: white;
  padding: 0.2rem 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight: 400;
  cursor: pointer;
  border: 0.3rem solid transparent;
  border-radius: 3px;
}

.project__tag-inactive {
  margin-right: 0.3rem;
  margin-top: 0.4rem;
  background: lightgray;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight: 400;
  border: 0.3rem solid transparent;
  border-radius: 3px;
}

.project__tag-skill {
  cursor: unset;
}

.project-filter-selected {
  background: #fcca03;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  width: 50%;
}

.projects__project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 0.3rem solid #fcca03;
  border-radius: 1rem;
  height: 20rem;
  margin: 2%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px;
}

.projects__project:hover {
  box-shadow: rgba(0, 0, 0, 5) 1.95px 1.95px 2.6px;
}

.project__links {
  display: block;
  background-color: #fcca03;
  cursor: pointer;
}

.project__links__more {
  display: flex;
  justify-content: center;
}

.project__description {
  font-family: "Edu TAS Beginner", cursive;
}

.project__description h4 {
  font-family: sans-serif;
}

.project__see-more {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .projects__project {
    width: 100%;
    min-height: 25rem;
    justify-content: space-around;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 5) 1px 3px 2.6px;
  }

  .project__tags {
    display: flex;
    flex-direction: row;
  }

  .project__see-more {
    display: flex;
    align-items: center;
  }

  .project__links {
    display: block;
  }
}
