* {
  box-sizing: border-box;
}

body, html {
  background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/wood.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin:0;
  padding:0;
}

.skip-to-content-link {
  background: white;
  height: 30px;
  left: 5%;
  width: 150px;
  padding: 1px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

/* button, #animationsControl{
  background-color:#373b38;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  border: none;
  margin: 5px;
} */

#headerimg {
  height: 60vh;
  max-height: 2832px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  visibility: hidden;
}

a {
  color: #373b38;
  font-family: 'Poppins', sans-serif;
}

#headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1;
  text-align: center;

}

h1 {
  font-family: 'Mulish', sans-serif;
  color:  white;
  font-size: 5em;
  margin: 2px; 
}

#roles {
  font-family: 'Poppins', sans-serif;
  font-size: 4vw;
  color: white;
  margin: 0px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color: #373b38;
  margin-bottom: 0px;
  font-weight: bold;
}

#header-2 {
  color: white;
  font-weight: bolder;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color:  #373b38;
  margin: 10px 0 8px 0;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: #373b38;
  margin-top: 0px;
}

small {
  font-size: 8px;
}

footer, .footer-text {
  display: flex;
  justify-content: center;
  color: #373b38;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.section-break {
  min-height: 15px; 
}

hr {
  background-color: white;
  border: white solid 3px;
  width: 70%;
}


/* ----------SKILLS------------- */
#skills {
  padding: 5%;
  background-color: white;
  margin: 0;
}

#skillsList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

#listOfSkills {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

#singleSkill {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
  color: #373b38;
  align-items: center;
  padding: 10px;
}

#skillsList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
  padding: 0px;
  margin: 0px;
}

label {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  color: #373b38;
}


/* ----------PROJECTS------------- */

#projects {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.project-desc, .project-desc-mob {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.project-cards {
  box-shadow: 2px 2px 2px 2px #a7a79f3b;
  margin-bottom: 20px;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}

.project-cards-rev {
  box-shadow: 2px 2px 2px 2px #a7a79f3b;
  margin-bottom: 10px;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffaf7;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");  
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-link-logo {
  width: 35px;
  height: 35px;
  padding: 5px;
  align-items: center;
}

.project-link-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-link-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 1em;  
  text-align: center;
  width: 200px;
}

.pin {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 2px 1px 1px 1px rgb(131, 126, 126);
  background: radial-gradient(circle at 5px 10px, #FAFAD2, #DAA520);
  margin-bottom: 20px;
  margin-top: 20px;
}


/* ----------ABOUT ME------------- */
.lydia {
  border-radius: 50%;
  width: 30%;
  height: 30%;
}

#aboutMeSection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top:10%;
  background-color: white;
  margin: 0;
}

.love-to-listen {
  background-color: white;
 }
 
 #podcasts{
   height:250px ;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
  }
 
 .listen-to {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 a, .single-podcast{
   padding: 1px;
   width: 100px;
   height:auto;
   margin:1px;
 }
 
 .podcast-img {
   height:100px;
 }
 
 .aboutMeText {
   display: flex;
   flex-direction: column;
   padding:0% 10%;
 }




/* ----------RECENTLY------------- */
#recently {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: white;
}

.recently-order {
  display: flex;
  flex-direction: column;
}

.recently-learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.recently-icon {
  height: 70px;
  width: 70px;
}

.craft-order {
  display: flex;
  flex-direction: row;
}

.single-craft-long {
  width: 30%;
  height: 100%;
  margin: 5px;
}

.single-craft {
  width:30%;
  height: 80%;
  margin: 5px;
}

.courses {
  color: #373b38;
  font-family: 'Poppins', sans-serif;
}


/* ----------CONTACT ME------------- */

#contact {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.contact-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section {
  display: flex;
  flex-direction: column;
  opacity: 1;
  background-color: white;
  padding: 30px;
  margin: 20px 20px;
}




/* --------------------------------------*/
/* -----------DESKTOP -------------------*/
/* --------------------------------------*/

@media only screen and (min-width: 770px) {
  #headerimg {
    height: 100vh;
  }

  #headerText {
   padding-top: 20%;
  }
  
  #navmenu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    width: 45%;
    padding-right: 2px;
    
  }

  nav, .menu-item {
    color :white;
    font-weight: bolder;
    margin: 0px;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    text-decoration: none;
    padding:3px;
    height: 40px;
  }


  #aboutMeSection {
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: flex-start;
  }

  .aboutMeText {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 0;
  }
  
  #singleSkill {
    display: flex;
    flex-direction: column;
    color: #373b38;
    align-items: center;
    padding: 10px;
  }

  .listen-to {
    align-items: flex-start;
  }

  .contactForm { 
    flex-direction: row;
  }

  .contact-align {
    align-items: flex-start;
  }

  a, .project-link-text {
    width: 100%;
  }


  a, .project-image {
    height: 40%;
    width: 100%;
    display: flex;
    margin-left: 0;
  }

   .single-project {
    display: flex;
    flex-direction: row;
    }
  
  .single-project-rev {
    display: flex;
    flex-direction: row-reverse;
  }
  
   .project-image {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    padding: 5px 10px 5px 10px;
  }
  
  .projects-mobile {
    display: flex;
    flex-direction: row;
  }

  #project-image-mob {
    width: 100%;
    height: auto;
    margin: 0px;
  }

  .project-desc-mob {
    width: 50%;
    padding: 5px 0 0 5px;
  }

  .project-desc, .project-desc-mob {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    max-width: 60%;
  }

  #project-link-text {
    color: #373b38;
    text-align: left;
    flex-direction: row;
  }
  
  .project-cards {
    margin: 20px;
    transform: rotate(-1deg);
    border-radius: 1px;
    box-shadow: 6px 2px 6px 2px rgb(88, 85, 85);
  }

  .project-cards-rev {
    transform: rotate(1deg);
    box-shadow: 6px 2px 6px 2px rgb(88, 85, 85);
    margin:20px;
  }

  .recently-order {
    flex-direction: row;
  }

  .recently-learn {
    width: 50%;
  }

  #contact {
    flex-direction: row;
  }

  .contact-section {
    width: 50%;
  }
  
  .section-break {
    min-height: 40px; 
  }

}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: dissolve;
  }
}

