* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.breadcrumb {
  text-decoration: underline;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 16px;
}

.breadcrumb:hover {
  box-shadow: inset 300px 0 0 0 #fcca03;
  color: black;
  font-family: "Edu TAS Beginner", cursive;
}

.external-link-text {
  text-decoration: underline;
}

.external-link-text:hover {
  box-shadow: inset 300px 0 0 0 #fcca03;
  color: black;
}

p {
  font-family: "Edu TAS Beginner", cursive;
}

h1,
.h1 {
  color: #fcca03;
  text-shadow: -2px 0 #111827, 0 -2px #111827, 2px 0 #111827, 0 2px #111827,
    2px 2px #111827, -2px -2px #111827, -2px 2px #111827, 2px -2px #111827,
    6px 6px black;
  font-size: 9vw;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

.web-container {
  display: flex;
}

.web-container--name {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2rem;
  align-items: center;
}

.web-container--name--subtitle {
  font-size: 2vw;
  text-transform: uppercase;
  font-family: "Edu TAS Beginner", cursive;
  max-width: 75%;
}

#options-container {
  width: 60%;
}

#article__article-items {
  list-style-type: none;
  display: flex;
  padding-left: 2%;
}

.article__article-items--p {
  display: none;
  font-size: 2rem;
  margin: 0 0.5rem 1rem 0;
}

.article__article-items-container:hover {
  width: 15%;
  cursor: pointer;
  transition: width 0.5s;
}

.article__article-items-container:nth-child(5):hover {
  width: 90%;
}

.article__article-items-container:hover .article__article-items--p {
  display: block;
}

.article__article-items__tab-headings {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.article__article-items-container {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #fcca03;
  border: 3px solid black;
  border-left: none;
  height: 100vh;
  width: 10%;
  transition: width 0.3s;
}

.article__article-items_content {
  display: none;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 2rem;
  padding: 0 2rem;
  overflow-y: scroll;
}

.article__article-items_paragraph {
  margin-bottom: 16px;
}

.article__article-items-container--contact .article__article-items_content {
  overflow: visible;
}

.article__article-items-container:nth-child(1) {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #fcca03 25%, transparent 25%),
    linear-gradient(225deg, #fcca03 25%, transparent 25%),
    linear-gradient(45deg, #fcca03 25%, transparent 25%),
    linear-gradient(315deg, #fcca03 25%, white 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.article__article-items-container.hover-effect .article__article-items_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 75%;
}

.article__article-items-container:nth-child(1) .article__article-items_content {
  padding: 0 4rem;
  position: relative;
}

.article__article-items-container:nth-child(2) {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(
    to right,
    #fcca03,
    #fcca03 5px,
    white 5px,
    white
  );
  background-size: 10px 100%;
}

.article__article-items-container:nth-child(3) {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(#fcca03 1px, transparent 1px),
    linear-gradient(to right, #fcca03 1px, #ffffff 1px);
  background-size: 20px 20px;
}

.article__article-items-container:nth-child(4) {
  background-color: #fcca03;
}

.article__article-items-container:nth-child(5) {
  width: 70%;
  background-color: white;
  background-image: radial-gradient(#fcca03 1.5px, white 1.5px);
  background-size: 10px 10px;
}

.article__article-items-container.hover-effect
  ~ .article__article-items-container:nth-child(5) {
  width: 10%;
}

.article__article-items-container.hover-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  writing-mode: unset;
  transform: unset;
  background-color: #e5e5f7;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #fcca0356,
    #fcca0356 1px,
    white 1px,
    white
  );
  border-right: none;
  border-left: 3px solid black;
  transition: width 0.3s;
  cursor: auto;
}

.article__article-items--h2 {
  margin: 0 1rem 1rem 0;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.article__article-items_contact {
  list-style-type: none;
}

.article__article-items_contact li {
  display: flex;
  margin-top: 3rem;
}

.article__article-items_contact_icon {
  width: 3rem;
  margin-right: 1rem;
}

.lydia-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 37px;
  padding: 16px;
}

.lydia {
  transform: scaleX(-1);
  width: 90%;
  height: auto;
  bottom: -5rem;
  position: relative;
}

.lydia-its-me__arrow-container {
  display: flex;
  flex-direction: column;
}

.lydia-its-me__arrow {
  transform: rotate(64deg);
  height: 10rem;
  right: -6rem;
  position: relative;
}

.article__article-items-close {
  display: none;
}

.article__article-items-container.hover-effect .article__article-items-close {
  display: flex;
  align-self: flex-end;
  margin-right: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  body {
    overflow: scroll;
  }

  .web-container {
    flex-direction: column;
  }

  .web-container--name {
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    height: 30vh;
  }

  .web-container--name--subtitle {
    font-size: 5vw;
  }

  h1 {
    width: 75%;
    font-size: 18vw;
  }

  #options-container {
    width: 100%;
  }

  #article__article-items {
    flex-direction: column;
    height: 60vh;
    padding: 0;
    display: flex;
  }

  #article__article-items .article__article-items-container.hover-effect {
    height: unset;
  }

  .article__article-items-container.article__article-items-container.hover-effect {
    width: 100%;
    height: 100%;
    padding: 3rem;
    border-left: none;
    justify-content: start;
  }

  .article__article-items-container {
    writing-mode: unset;
    transform: unset;
    height: 10%;
    width: 100vw;
    border-bottom: none;
    border-right: none;
  }

  .article__article-items_content {
    padding: 0 3rem;
    overflow-y: visible;
  }
  
  .article__article-items-container:nth-child(1)
    .article__article-items_content {
    padding: 0 2rem;
  }

  .article__article-items-container:nth-child(5) {
    width: 100vw;
    flex-grow: 4;
    display: flex;
    align-items: start;
  }

  .article__article-items-container:nth-child(5):hover {
    width: 100%;
  }

  .article__article-items-container.hover-effect
    ~ .article__article-items-container:nth-child(5) {
    width: 100%;
  }

  .article__article-items-container:hover {
    width: 100%;
  }

  .hover-more {
    display: none;
  }

  .article__article-items--h2 {
    font-size: 5vw;
    margin: 1rem;
  }

  .article__article-items--p {
    display: none;
  }

  .lydia-container {
    position: unset;
    bottom: unset;
    padding: unset;
  }
}

@media screen and (min-width: 480px) and (max-width: 899px) {
  h1 {
    font-size: 11vw;
  }

  .web-container--name--subtitle {
    font-size: 3vw;
  }

  .article__article-items--h2 {
    font-size: 3vw;
  }
}

/* BLOG -most recents */

.homepage_blog .blog_h3 {
  width: 100%;
}

.homepage_blog .blog_card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.homepage_blog .blog_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  border: 0.3rem solid #fcca03;
  border-radius: 1rem;
  min-height: 20rem;
  margin: 1rem 0;
  background-color: #ffffff;
  padding: 1.5rem;
  font-family: sans-serif;
  width: 100%;
}

.homepage_blog .blog_card:hover {
  box-shadow: rgba(0, 0, 0, 5) 1.95px 1.95px 2.6px;
}

.homepage_blog .blog_card h4 {
  margin-bottom: 3px;
}

.blog_card_more {
  text-decoration: underline;
}

.homepage_blog .blog_card:hover .blog_card_more {
  box-shadow: inset 300px 0 0 0 #fcca03;
  color: black;
}

.homepage_blog .blog_card-border {
  height: 3px;
  background-color: #fcca03;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
}

.homepage_blog .blog_card p {
  font-size: 16px;
  font-family: sans-serif;
}

.homepage_blog .blog_card .blog_card_date {
  font-size: 12px;
  font-weight: 700;
  margin: 10px 0;
  font-style: italic;
}

.homepage_blog .blog_card a {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.homepage_blog .blog_card a:hover {
  text-decoration: none;
}

.homepage_blog .blog_link {
  text-decoration: underline;
}

.homepage_blog .blog_link:hover {
  box-shadow: inset 300px 0 0 0 #fcca03;
  color: black;
  width: fit-content;
}

/* CSS https://getcssscan.com/css-buttons-examples */
.button-56 {
  align-items: center;
  background-color: #fcca03;
  border: 2px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 23px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px 0 35px 0;
}

.button-56:after {
  background-color: #000000;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #fcca03;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (max-width: 768px) {
  .button-56 {
    padding: 23px 17px;
  }

  .homepage_blog .blog_card {
    font-size: 16px;
  }
}

/* Arrow */
.article__article-items_content::after {
  content: "\2193";
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0 10px;
  font-size: 3rem;
  color: #fcca03;
  pointer-events: none;
}

.article__article-items_content--scrolled::after {
  opacity: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.article__article-items_content::after {
  animation: bounce 1.5s infinite ease-in-out;
}
